body{
    margin: 0;
    background-color: #dee5e5;
    overflow-x: hidden;
}
nav{
    background-color: #08415c;
    width: 100%;
    height: 55px;
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    gap: 120px;
    
}
.menubtn{
    height: 100%;
    background: none;
    border: none;
    color: white;
    position: relative;
    font-size: 17px;
    left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    

}
.btnav{
    height: 100%;
    background: none;
    border: none;
    color: white;
    position: relative;
    font-size: 17px;
    left: 115px;
    cursor: pointer;
    transition: 0.2s;
}

.btnav:hover {
    color: #00ffdd;
    scale: calc(1.1);
    
}
.imagem-inicio{
    width: 100%;
    height: auto;
    object-fit: cover;
    z-index: 1;
}
.principal{
    height: 800px;
    margin: 0;
    padding: 0%;
    position: relative;
}
h1{
    z-index: 2;
    position: relative;
    bottom: 650px;
    left: 300px;
    width: auto;
    text-align: center;
    font-size: 50px;
    color: #08415c;
}
.equipe{
    height: 600px;
    
    position: relative;
    top: 100px;
    left: 30px;
    
    border-radius: 10px;
}
h2{
    position: relative;
    left: 420px;
    bottom: 140px;
    font-size: 30px;
}
.nos{
    width: 400px;
    position: relative;
    left: 420px;
    bottom: 140px;
}
.conheça{
    position: relative;
    left: 520px;
    bottom: 60px;
    background-color: #08415c;
    color: white;
    font-size: 20px;
    height: 70px;
    width: 250px;
    border-radius: 20px;
    transition: 0.2s;
}
.conheça:hover{
    scale: calc(1.1);
}
.carrossel{
    display: flex;
    position: relative;
    left: 20px;
    height: 750px;
    width: 1000px;
    align-items: center;
    margin: 0;
}
ul{
    display: flex;
    transition: transform 0.4s ease-in-out;
    list-style: none;
    gap: 90px;
}
li{
    position: relative;
    right: 20px;
   
    
}
li img{
    height: 750px;
    width: 1000px;
    z-index: 1;
}
.btnimg{
    background-color: #444;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 18px;
    z-index: 2;
    opacity: 0.5;
}
.btnimg:hover{
    background-color: #222;
}
.btnimg2{
    background-color: #444;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 18px;
    z-index: 2;
    opacity: 0.5;
    position: absolute;
    left: 1330px;
}
.btnimg2:hover{
    background-color: #222;
}
.ir{
    position: relative;
    bottom: 110px;
    left: 350px;
    z-index: 3;
    height: 75px;
    width: 300px;
    border-radius: 30px;
    background-color: #08415c;
    color: white;
    font-size: 50px;
    overflow: hidden;
    margin: 0;
    cursor: pointer;
    transition: 0.2s;
}
.ir:hover{
    scale: calc(1.1);
}
.todos{
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1) ;
    margin-bottom: 100px;
    margin-top: 100px;
}