body{
    height: 1000px;
    margin: 0;
    background-color: #dee5e5;
    overflow-x: hidden;
}
nav{
    background-color: #08415c;
    width: 100%;
    height: 45px;
    position: fixed;
    top: 0;
}
.btnav{
    height: 100%;
    background: none;
    border: none;
    color: white;
    position: relative;
    left: 80%;
}
.btnav:hover {
    color: #F61067;
}
.principal{
    height: 800px;
    margin: 0;
    padding: 0%;
}
.foto{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    padding: 0%;
    margin: 0%;
}
h1{
    position: relative;
    background: none;
    padding: 0%;
    bottom: 700px;
    left: 850px;
    font-size: 50px;
    color: #08415c;
}
h2{
    position: relative;
    background: none;
    padding: 0%;
    bottom: 730px;
    left: 850px;
    font-size: 25px;
}
.topico{
    font-size: 30px;
    margin-left: 20px;
    margin-bottom: 0;
    margin-top: 40px;
}
.info{
    margin-left: 40px;
    width: 70vw;
    font-size: 20px;
}
.bula li{
    margin-left: 20px;
    font-size: 20px;
}