body{
    margin: 0;
    background-color: #dee5e5;
    overflow-x: hidden;
}
body{
    height: 1000px;
    margin: 0;
    background-color: #dee5e5;
    overflow-x: hidden;
}
nav{
    background-color: #08415c;
    width: 100%;
    height: 55px;
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    gap: 25px;
    
}
.textologo{
    border-right: 1px solid white;
    padding-right: 15px;
    height: 25px;
    position: relative;
    left: 20px;
}
nav p{
    color: white;
    font-size: 20px;
    position: relative;
    bottom: 5px;
    left: 10px;
}
.menubtn{
    height: 100%;
    background: none;
    border: none;
    color: white;
    position: relative;
    font-size: 17px;
    left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    

}
.btnav{
    height: 100%;
    background: none;
    border: none;
    color: white;
    position: relative;
    font-size: 12px;
    left: 410px;
    cursor: pointer;
    transition: 0.2s;
}

.btnav:hover {
    color: #00ffdd;
    scale: calc(1.1);
    
}
.inicio h1{
    position: relative;
    top: 60px;
    left: 550px;
    color: #08415c;
    font-size: 40px;
}
.topico{
    margin-bottom: 50px;
}
.inicio p{
    position: absolute;
    top: 125px;
    left: 520px;
    color: #08415c;
    font-size: 20px;
}
.titulo{
    position: relative;
    top: 130px;
    left: 115px;
    color: #08415c;
    font-size: 30px;
    width: 85%;
    border-bottom: 2px solid #08415c;
}
.topico ul{
    display: flex;
    gap: 50px;
    list-style: none;
    position: relative;
    left: 80px;
    top: 130px;
    height: auto;
    width: auto;
    align-items: center;
    margin: 0;
}
.li1{
    padding: 80px;
    width: 200px;
    height: 80px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
     
}
.img1{
    position: relative;
    bottom: 65px;
    left: 42px;
    border-radius: 100%;
    height: 120px;
    border: 3px solid #08415c;
}
.quem{
    position: relative;
    bottom: 70px;
    width: 200px;
    left: 40px;
    color: #08415c;
    font-size: 20px;
    
}
.descri {
    position: relative;
    bottom: 80px;
    width: 250px;
    color: #17698f;
}
.li2{
    padding: 80px;
    width: 100px;
    height: 80px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
     
}
.imgpdr{
    position: relative;
    bottom: 65px;
    right: 10px;
    border-radius: 100%;
    height: 120px;
    border: 3px solid #08415c;
}
.quem2{
    position: relative;
    bottom: 70px;
    width: 200px;
    left: 5px;
    color: #08415c;
    font-size: 20px;
    
}
.descri2 {
    position: relative;
    bottom: 80px;
    width: 250px;
    left: 5px;
    color: #17698f;
}
.outros{
    position: relative;
    top: 150px;

}
.outros ul{
    display: flex;
    position: relative;
    left: 80px;
    gap: 110px;
    list-style: none;
}
.outros li{
    display: flex;
    padding: 20px;
    width: 250px;
    height: 20px;
    background-color: white;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
    position: relative;
    gap: 7px;
    cursor: pointer;

}
.outros img{
    border-radius: 100%;
    height: 40px;
    border: 2px solid #08415c;
    position: relative;
    bottom: 12px;
    right: 5px;
}
.outros p{
    font-size: 18px;
    position: relative;
    bottom: 25px;
    color: #08415c;
}
.outros h2{
    font-size: 30px;
    position: absolute;
    bottom: 40px;
    right: 170px;
    color: #08415c;
}
.ul2{
    display: flex;
    position: relative;
    top: 30px;
    left: 80px;
    gap: 110px;
    list-style: none;
}
.equipe{
    position: relative;
    top: 300px;

}
h3{
    position: relative;
    left: 580px;
    font-size: 35px;
    color: #08415c;
}
.equipe img{
    height: 800px;
    width: 1200px;
    position: relative;
    left: 100px;
    padding: 10px;
    background-color: white;
    border-radius: 20px;
}