body{
    margin: 0;
    background-color: #dee5e5;
    overflow-x: hidden;
}
body{
    height: 1000px;
    margin: 0;
    background-color: #dee5e5;
    overflow-x: hidden;
}
nav{
    background-color: #08415c;
    width: 100%;
    height: 55px;
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    gap: 25px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-nav-textos {
    display: flex;
    gap: 5px;
}
.container-nav2 {
    gap: 10px;
}
nav p{
    color: white;
    font-size: 20px;
    position: relative;
    bottom: 5px;
    left: 10px;
}
.menubtn{
    height: 100%;
    background: none;
    border: none;
    color: white;
    position: relative;
    font-size: 17px;
    left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    

}
.btnav{
    background: none;
    border: none;
    color: white;
    font-size: 12px;
    cursor: pointer;   
    transition: 0.2s; 
}
.btnav:hover {
    color: #00ffdd;
    scale: calc(1.1);
    
}
.inicio{
    text-align: center;
}
.inicio h1{
    color: #08415c;
    font-size: 50px;
    position: relative;
    top: 90px;
}
.topico{
    margin-bottom: 50px;
}
.inicio p{
    color: #08415c;
    font-size: 20px;
    position: relative;
    top: 80px;
}
.titulo{
    position: relative;
    top: 130px;
    left: 115px;
    color: #08415c;
    font-size: 30px;
    width: 85%;
    border-bottom: 2px solid #08415c;
}
.topico ul{
    display: flex;
    gap: 50px;
    list-style: none;
    position: relative;
    left: 80px;
    top: 130px;
    height: auto;
    width: auto;
    align-items: center;
    margin: 0;
}
.li1{
    padding: 80px;
    width: 200px;
    height: 80px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
     
}
.img1{
    position: relative;
    bottom: 65px;
    left: 42px;
    border-radius: 100%;
    height: 120px;
    border: 3px solid #08415c;
}
.quem{
    position: relative;
    bottom: 70px;
    width: 200px;
    left: 40px;
    color: #08415c;
    font-size: 20px;
    
}
.descri {
    position: relative;
    bottom: 80px;
    width: 250px;
    color: #17698f;
}
.li2{
    padding: 80px;
    width: 100px;
    height: 80px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
     
}
.imgpdr{
    position: relative;
    bottom: 65px;
    right: 10px;
    border-radius: 100%;
    height: 120px;
    border: 3px solid #08415c;
}
.quem2{
    position: relative;
    bottom: 70px;
    width: 200px;
    left: 5px;
    color: #08415c;
    font-size: 20px;
    
}
.descri2 {
    color: #17698f;
    text-align: center;
    position: relative;
    bottom: 88px;
    right: 65%;
    width: 230px;
    height: 50px;
}
.eee{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.outros{
    position: relative;
    top: 150px;

}
.outros ul{
    display: flex;
    position: relative;
    left: 80px;
    gap: 110px;
    list-style: none;
}
.outros li{
    display: flex;
    padding: 20px;
    width: 250px;
    height: 20px;
    background-color: white;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
    gap: 7px;
    position: relative;
    cursor: pointer;

}
.outros img{
    border-radius: 100%;
    height: 40px;
    border: 2px solid #08415c;
    position: relative;
    bottom: 12px;
    right: 5px;
}
h2{
    font-size: 20px;
    position: relative;
    bottom: 25px;
    color: #08415c;
}
.prof{
    font-size: 30px;
    position: absolute;
    bottom: 40px;
    right: 59%;
    color: #08415c;
}
.moni {
    font-size: 30px;
    position: absolute;
    bottom: 40px;
    right: 65%;
    color: #08415c;
}
.ul2{
    display: flex;
    gap: 110px;
    list-style: none;
}
.equipe{
    margin-top: 250px;
    text-align: center;

}
h3{
    font-size: 35px;
    color: #08415c;
}
.equipe img{
    height: 800px;
    width: 1100px;
    padding: 10px;
    background-color: white;
    border-radius: 20px;
}
a{
    text-decoration: none;
    color: unset;
}
footer{
    background-color: #08415c;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}
.direitos{
    font-size: 20px;
}
.redes{
    display: flex;
    gap: 30px;
    font-size: 20px;
}
.redes a:hover{
    color: #00ffdd;
    transition: 0.4s;
}
.social{
    cursor: pointer;
}
.nomw{
    display: flex;
    flex-direction: column;
    justify-content: center;
}