body {
  margin: 0;
  background-color: #dee5e5;
  /* font-family: Arial, sans-serif; */
  font-family: 'Times New Roman', Times, serif;
}

/* NAVBAR */
nav {
  background-color: #08415c;
  width: 100%;
  height: 55px;
  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  gap: 60px;
  align-items: center;
}

.btnav {
  background: none;
  border: none;
  color: white;
  font-size: 17px;
  cursor: pointer;
}
.btnav:hover {
  color: #00ffdd;
}

/* SEÇÃO INICIAL */
.inicio {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 160px 40px 80px; /* distancia do topo + equilibrio */
}

.img1 img {
  width: 520px;
  height: 400px;
  border-radius: 10px;
}

.texto1 h1 {
  font-size: 45px;
  margin: 0;
}

.texto1 h2 {
  font-size: 16px;
  margin-top: 10px;
  max-width: 400px;
}

/* TÍTULO DIETA */
.dieta {
  text-align: center;
  margin: 40px auto 20px;
}

/* CARDS */
.cards {
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 20px 0 40px;
}

.card1 {
  width: 240px;
  padding: 18px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgb(0 0 0 / 0.15);
  transition: 0.3s;
}
.card1:hover {
  transform: scale(1.07);
}

/* TÍTULO HÁBITOS */
.titulo1 {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 20px;
  font-size: 36px;
}

/* SEÇÃO HÁBITOS */
.habitos {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
  margin: 40px auto;
  padding: 20px;
}

.texto3 {
  width: 450px;
  text-align: justify;
}

.img2 {
  width: 260px;
  border-radius: 10px;
}

.espaco {
  height: 150px;
}
