body{
    height: 1000000px;
}
.conscientização{

}
h1{
   margin-left: 690px;
   margin-top: 125px;
   font-size: 50px;
} 
.sub1{
    margin-left: 695px;
    margin-top: -30px;
    font-size: 17px;
    font-weight: normal;
}
.p1{
  text-align: center;
  margin-top: 250px;
}
.conse1{
  display: flex;
  float: right;
  width: ;
}
.conse2{
  display: flex;
  float: right;
}