body{
    height: 1000px;
    margin: 0;
    background-color: #dee5e5;
    overflow-x: hidden;
}
nav{
    background-color: #08415c;
    width: 100%;
    height: 55px;
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    gap: 25px;
    
}
.textologo{
    border-right: 1px solid white;
    padding-right: 15px;
    height: 25px;
    position: relative;
    left: 20px;
}
nav p{
    color: white;
    font-size: 20px;
    position: relative;
    bottom: 5px;
    left: 10px;
}
.menubtn{
    height: 100%;
    background: none;
    border: none;
    color: white;
    position: relative;
    font-size: 17px;
    left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    

}
.btnav{
    height: 100%;
    background: none;
    border: none;
    color: white;
    position: relative;
    font-size: 12px;
    left: 410px;
    cursor: pointer;
    transition: 0.2s;
}

.btnav:hover {
    color: #00ffdd;
    scale: calc(1.1);
    
}
.principal{
    height: 800px;
    margin: 0;
    padding: 0%;
}
.foto{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    padding: 0%;
    margin: 0%;
}
h1{
    position: relative;
    background: none;
    padding: 0%;
    bottom: 600px;
    left: 850px;
    font-size: 50px;
    color: #08415c;
}
h2{
    position: relative;
    background: none;
    padding: 0%;
    bottom: 600px;
    left: 850px;
    font-size: 20px;
    color: #dee5e5;
    width: 500px;
}
.topico{
    font-size: 30px;
    margin-left: 20px;
    margin-bottom: 0;
    margin-top: 50px;
}
.info{
    margin-left: 40px;
    width: 70vw;
    font-size: 20px;
}
.bula li{
    margin-left: 20px;
    font-size: 20px;
}
.listmed{
   
    gap: 20px;
    position: relative;
    width: auto;
    height: auto;

}
.ulmed{
    display: flex;
    list-style: none;
    gap: 40px;
    overflow-x: scroll;
    
}
.med{
    height: 30px;
    width: 150px;
    background-color: #08415c;
    color: white;
    margin-top: 5px;
    
}
.visu{
    height: 100px;
}
.visu p{
    margin-top: 100px;
}
.medimg{
    height: 150px;
    width: 150px;
    border-radius: 10px;
}
.consequencias li{
    margin-left: 20px;
    font-size: 20px;
}
.denuncia{
    height: 250px;
}